/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
routes/customers1.csv
routes/customers_email.csv
live/krishi55_krishi.sql
commit.bat
